include styles.pug
.main-content
  include header-nav.pug

  main

    article

      //- .intro-container 
      //-     h1 Nathan Dana



      h2 User Experience Problem Solver
      p.lead As an accomplished User Experience Lead and Architect, my passion is to deliver beautiful, delightful and performant experiences through design systems. I have strong communications, creative, analytical, and technical skills; I thrive in a highly collaborative environment. I am not afraid to fail early, often, and quickly to deliver a successful product. And while I love to dream big, I also know when and how to rein ideas into real-world timeframes, requirements, and budgets.


      

    .cards
      section.card(aria-labelledby="tf-heading") 
        a.image(
          href='transform.html',
          style='background-image: url("./img/transform/Transform-Logo.png"); background-size: 100%; background-position: center center; background-color: white;'
          aria-hidden="true"
        )   
        .content
          h2#tf-heading Transform Design System
          p Transform grew from a small design library into a vital internal system.
          
          a(href='transform.html' style="margin-top: 1rem; display: block;") Read Case Study

      section.card(aria-labelledby="fd-heading") 
        a.image(
          href='fondue.html',
          style='background-image: url("./img/fondue-logo.png"); background-size: 100%; background-position: center center; background-color: white;'
          aria-hidden="true"
        )      
        .content
          h2#fd-heading Fondue Design System
          p How I rebuilt Fondue into a structured, accessible, and trusted design system. 
          a(href='fondue.html' style="margin-top: 1rem; display: block;") Read Case Study

      section.card(aria-labelledby="cs-heading") 
        a.image(
          href='carshopper-ux.html',
          style='background-image: url("./img/desktop-vdp.png"); background-size: 100%; background-position: center center;'
          aria-hidden="true"
        ) 
        .content
          h2#cs-heading Car Shopper UX
          p From concept to deep execution on search and details pages. A look at the process and results. 
          a(href='carshopper-ux.html' style="margin-top: 1rem; display: block;") Read Case Study
      section.card(aria-labelledby="filter-heading") 
        a.image(
          href='filter.html',
          style='background-image: url("./img/filter-panel.png"); background-size: 100%; background-position: center center;'
          aria-hidden="true"
        )        
        .content  
            h3#filter-heading Filtering Mini Case Study
            p A flexible, scalable filtering component designed to unify and simplify complex data workflows across TruCare Cloud, saving time and improving consistency for users and developers alike.
            a(href='filter.html' style="margin-top: 1rem; display: block;") Read Case Study
      section.card(aria-labelledby="menu-heading") 
        a.image(
          href='member-menu.html',
          style='background-image: url("./img/mega-menu-final.png"); background-size: 100%; background-position: center center;'
          aria-hidden="true"

        )   
        .content  
          h3#menu-heading Member Menu Mini Case Study
          p A persistent navigation menu that streamlined access to member-related tasks in TruCare Cloud, reducing multi-page workflows into a single-click experience and improving architectural cohesion.
          a(href='member-menu.html' style="margin-top: 1rem; display: block;") Read Case Study
      section.card(aria-labelledby="composer-heading") 
        a.image(
          href='composer-architecture.html', 
          style="background-image: url('img/composer-ui-sm.png'); background-size: cover; background-position: top left;"
          aria-label="Link to Composer Architecture Case Study")
        .content
          h2#composer-heading Composer Architecture
          p Architecture and UX design for users to update and configure their dealership web site.
          a(href='composer-architecture.html' style="margin-top: 1rem; display: block;") Read Case Study
      //- .card
      //-   a.image(href='volkswagen.html' style="background-image: url('img/desktop-small.png'), url('img/slash.png'); background-size: cover; background-position: top center;")
      //-   .content
      //-     h2 Volkswagen
      //-     p Design and development for a forward-facing brand, little innovations that add up. 
      //-       a(href='volkswagen.html') Read Case Study
      //- .card
      //-   a.image(href='home-page.html' style="background-image: url('img/homepage-hero-civic.png'); background-size: contain; background-position: center center;")
      //-   .content
      //-     h2 The Home Page
      //-     p Overhauling the primary touchpoint for car dealers and lessons learned. 
      //-       a(href='home-page.html') Read Case Study
      //- .card
      //-   a.image(href='enthusiast.html' style="background-image: url('img/cover-small.jpg'); background-size: cover; background-position: top center;")
      //-   .content
      //-     h2 Enthusiast Magazine
      //-     p Automotive print magazine from logo to layout, photography to editing. 
      //-       a(href='enthusiast.html') Read Case Study
      //- .card
      //-   a.image(href='design-system.html' style="background-image: url('img/design-system-generator.png'); background-size: 140%; background-position: center center;")
      //-   .content
      //-     h2 Design System
      //-     p Getting the details right for a very extensible and configurable design system for 15,000+ sites. 
      //-       a(href='design-system.html') Read Case Study
      //- .card
      //-   a.image(href='little-wins.html' style="background-image: url('img/ddc_map.jpg'); background-size: cover; background-position: top center;")
      //-   .content
      //-     h2 Little Wins
      //-     p Not everything in UX is a big project, sometimes its the little changes that make a big impact. 
      //-       a(href='little-wins.html') Read Case Study
